<!DOCTYPE html>

<html>
<head>
	<title>Weyaka - Digest</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Import CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/flat-ui.css" rel="stylesheet">
	<link href="css/flaticon.css" rel="stylesheet">
	<link href="css/simple-weather.css" rel="stylesheet">

	<link href="css/global.css" rel="stylesheet">
	<link href="css/digest-page.css" rel="stylesheet">
	<link href="css/notes.css" rel="stylesheet">
	
</head>

<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
				<span class="sr-only">Toggle navigation</span>
			</button>

			<!-- Weyaka home button -->
			<a class="navbar-brand" href="/home">
				<span class="flaticon-house28"></span>
			</a>

			<div class="digest-link-icons">
				<ul class="nav navbar-nav">
					<li>
						<a class="navbar-brand digest-link" href="#traffic"><span class="flaticon-auto2"></span></a>
					</li>

					<li>
						<a class="navbar-brand digest-link" href="#weather"><span class="flaticon-sunny18"></span></a>
					</li>

					<li>
						<a class="navbar-brand digest-link" href="#notes"><span class="flaticon-document162"></span></a>
					</li>

					<li>
						<a class="navbar-brand digest-link" href="#schedule"><span class="flaticon-schedule"></span></a>
					</li>
				</ul>
			</div>

		</div>

		<!-- Navbar contents -->
		<div class="collapse navbar-collapse" id="menu">

			<!-- User settings -->
			<ul class="nav navbar-nav navbar-right user-settings">
				<li><a href="/help">Help and Settings</a></li>
				<li><a href="/" class="logout-button">Logout</a></li>
			</ul>

		</div>
	</nav>

	<!-- TRAFFIC SECTION -->
	<div class="container" id="traffic">
		<h4>Traffic</h4>
		<hr>

		<!-- Destination input -->
		<div id="address-input"></div>

		<!-- Geocode button -->
		<div id="geocode-btn"></div>

		<br>
		<!-- Google Map object -->
		<div id="googleMap"></div>
	</div>

	<!-- WEATHER SECTION -->
	<div class="container" id="weather">
		<h4>Weather</h4>
		<hr>

		<div id="simpleWeather"></div>
	</div>


	<!-- NOTES SECTION -->
	<div class="container" id="notes">
		<h4>Notes
		<button id ="noteeventplus" class="btn btn-inverse" onclick="toggle_visibility('add-note-popup')">+</button>
		</h4>
		<hr>

		<div id="add-note-popup">
			<div class="popup-wrapper">
				<div class="popup-content">
					<h5>Add Note</h5>


			        <form id="add-note-form" action="/digestnotes" method="GET">
			            <!-- Title -->
			            <div class="form-group">
			                <input id="title-field" type="text" class="form-control" name="title" placeholder="Title">
			            </div>

			            <!-- Details -->
			            <div class="form-group">
<<<<<<< HEAD


			               <textarea id="summary-field" name="summary" class="form-control" placeholder="Add details here"></textarea>

=======
			                <textarea id="summary-field" name="summary" class="form-control" placeholder="Add details here"></textarea>
>>>>>>> fbbf2e2f09fc7a4bba0f30e83e38dc2b08fece38
			            </div>

			            <div>
			            	  <input type="submit" id="submit-note-btn" class="btn btn-inverse" name ="Submit" onclick="showNote()" onclick="toggle_visibility('add-note-popup')">
			            </div>
			        </form>


			       <button id="cancel-note-btn" class="btn btn-inverse" onclick="toggle_visibility('add-note-popup')">Cancel</button>
				</div>
			</div>
		</div>

		<!-- List of notes -->
		<div id="notes-list">
			{{#each notes}}
			<p><b>{{title}}</b><br>
			   {{summary}} <br>
			   <hr>
			</p>
			{{/each}}
		</div>

		<!-- Add Note button -->
		
	</div>

	<!-- SCHEDULE SECTION -->
	<div class="container" id="schedule">
		<h4>Schedule
			<a href="/addEvent"><button id="noteeventplus" class="btn btn-inverse">+</button></a>

		</h4>
		<hr>
		
		<div id="events-list">
			{{#each events}}
			<p>Event Title: {{title}} <br>
			   Location : {{location}} <br>
			   Date: {{date}} <br>
			   Time: {{time}} <br>
			   <hr>
			</p>
			{{/each}}
		</div>

		<br>
		
		<!-- Link to Google Calendar -->
		<button id="googleLink" class="btn btn-inverse">Go to Google Calendar</button>
	</div>

  	<!-- Link Javascript -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/jquery.scrollto.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/weyaka.js"></script>
	<script src="js/calendar.js"></script>
	<script src="js/notes.js"></script>

	<!-- Google Maps API Javascript imports -->
	<script type="text/javascript"
      	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB2vaEbg0YNSzZt2WDARdb27113XOSSjo"></script>
    <script src="js/traffic.js"></script>
    <script type="text/javascript" src="js/notes.js"></script>

    <!-- Simple Weather JS imports -->
    <script src="js/jquery.simpleWeather.js"></script>
    <script src="js/jquery.moment.js"></script>

    <!-- Google Sign in -->
    <script type="text/javascript" src="https:apis.google.com/js/client.js?onload=init"></script>
	<script type="text/javascript" src="https://addthisevent.com/libs/1.5.8/ate.min.js"></script>
</body>
</html>